.hidden {
	display: none;
}

#container {
	float: left;
}

#container > div:not(#loading) {
	display: none;
}

#tree a.state-loaded {
	color: #000;
}

#tree a.has-subtitles:after {
	display: inline-block;
	content: '💬';
	padding-left: 2px;
}

#tree a ~ i.fa-refresh {
	margin-left: 4px;
}

#renderers {
	float: right;
}

#renderers a {
	color: black;
}

#renderers strong .refresh-renderers {
	margin-left: 10px;
}

#renderers > ul {
	margin-top: 0;
	margin-bottom: 0;
}

#renderers li i.fa {
	margin-right: 10px;
}

#player {
	width: 100%;
}

#player.hide-ui {
	cursor: none;
}

#player.hide-ui::-webkit-media-controls {
	display: none;
}

.upload-subs {
	position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    overflow: hidden;
}

.upload-subs > input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
}
